@import url(reset.css);
@import url(../fonts/font-awesome/css/font-awesome.min.css);

@font-face {
    font-family: 'notokr-regular';
    src: url('../fonts/notokr-regular.eot');
    src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/notokr-regular.woff2') format('woff2'),
        url('../fonts/notokr-regular.woff') format('woff'),
        url('../fonts/notokr-regular.ttf') format('truetype'),
        url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'notokr-bold';
    src: url('../fonts/notokr-bold.eot');
    src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/notokr-bold.woff2') format('woff2'),
        url('../fonts/notokr-bold.woff') format('woff'),
        url('../fonts/notokr-bold.ttf') format('truetype'),
        url('../fonts/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* common */
a{color:#707070;text-decoration:none;}
a:link, a:visited, a:active{text-decoration: none;}
a:hover{color:#707070;}

body{font-family: 'notokr-regular'; font-size: 12px; color: #666;}
button{background: none; padding: 0; line-height: 100%;  cursor: pointer; border: none;}

/* layout */
#wrapper{}
#header{background-color: #4f4897;}
.headerContents:after{content: ""; display: block; clear: both;}
#header .headerContents{width: 1080px; margin: auto; position: relative; height: 84px;}
#header .logo {position: relative; float: left; margin-top: 18px;}
#header .logo a{display: block; width: 66px; height: 50px; padding-top: 27px; box-sizing: border-box; }
#header .logo .wing_l{width: 20px; position: absolute; top:0; left: 21px;}
#header .logo .wing_r{ width: 24px; position: absolute; top: 13px; left: 37px;}
#header .logo .svg path{fill:#fff}
